body {
    background-color: #222222;
    padding: 0;
    margin: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    background-color: #80d4ee65;
    padding: 100px 0;
}

.box {
    background-color: #666666;
    margin: 50px;
    padding: 50px;
    box-shadow: 20px 20px 0px 0px rgba(0,0,0,0.7);
}

.center-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font: 40px "Courier New";
    color: white
}

.text {
    font: 20px "Courier New";
    color: white
}

.cell {
    background-color: skyblue;
    width: auto;
    height: auto;
    border: 1px solid #75757534;
}

.cell:hover {
    background-color: white;
}

#field {
    display: grid;
    width: 400px;
    height: 400px;
}

.flex {
    display: flex;
}

.margin-bottom {
    margin-bottom: 40px;
}

button {
    background-color: aquamarine;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font: 20px "Courier New";
    font-weight: bold;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.7);
}

.input-text-container {
    flex-grow: 1;
    margin-right: 80px;
}

input[type="number"] {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font: 20px "Courier New";
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.7);
}
